.centered {
  text-align: center;
}

body {
  background-color: rgb(35, 33, 44);
  margin-top: 10vh;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url("survey.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.divbackground {
  width: 80%;
  background-color: rgb(41, 34, 79);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  opacity: 85%;
}

form {
  display: block;
  width: 100%;
  margin: 1em auto;
  font-size: 1.1rem;
  min-width: 100px;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
select,
textarea {
  margin: 15px 0 0 0;
  width: 100%;
  min-height: 2.5em;
  box-sizing: border-box;
  padding-left: 1vh;
  background-color: #9696de;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
